.hero-bg {
  background-image: url(../assets/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .text-left {
    text-align: center;
    margin-left: 0;
  }
}
